*{
	text-decoration: unset;
}
body > h1 + p::first-letter{
	float: left;
	color: darkred;
	border: 3px ridge darkgoldenrod;
	padding: 16px;
	background-color: gold;
	margin: 8px;
}
blockquote::before{
	content: "╰(*°▽°*)╯";
}
blockquote::after{
	content: "╰(*°▽°*)╯";
}
body > a:hover{
	background-color: red;
	animation: pulse 4s infinite;
	border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
	transition: all 1s;
}
body > a:visited{
	color:rgb(0, 128, 36);
}

/* esxtras */

p:nth-child(2){
	background-color:rgb(38, 255, 0);
}
